#root {
  .nav {
    nav {
      position: fixed;
      width: 100%;
      background-color: $base-color;

      ul {
        display: flex;
        flex-direction: row;
      }

      a {
        display: block;
        padding: 1em;
        color: white;
        text-decoration: none;
        @include upcase();
      }
    }

    > div {
      height: 3em;
    }
  }
}