body {
  font-family: "Gill Sans", Arial, sans-serif;
}

#root {
  h1, h2, h3 {
    margin-bottom: 0.25em;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: $base-color;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }

  a {
    text-decoration: underline;
    color: $base-color;
  }

  p {
    margin-bottom: 0.5em;
  }

  .main {
    padding: 1em;
  }

  input {
    display: block;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.25em;
    border: 1px solid $base-light-color;
  }

  .message {
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.25em;
    border: 1px solid $base-light-color;
  }
}
